@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	color: hsl(221, 14%, 31%);
	font-weight: 700;
}

:root{
	--cor1: hsl(222, 26%, 31%);
	--cor2: hsl(0, 0%, 90%);
	--cor3: hsl(268, 75%, 9%);
	--cor4: hsl(0, 5%, 81%);
	--cor5: hsl(268, 71%, 12%);
}
body{
	width: 100%;
	max-width: 1440px;
	background-color: var(--cor1);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
body.ativo1{
	background-color: var(--cor2);
}
body.ativo1 .botao{
	background-color: var(--cor4);
}
body.ativo2{
	background-color: var(--cor3);
}